[Unit]
Description=Audio switch
After=sound.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=30
ExecStart=/opt/audio-switch/.venv/bin/python /opt/audio-switch/main.py
Environment="MQTT_HOST=localhost"
Environment="SINK_NAME=alsa_output.usb-Topping_E30_II-00.HiFi__Headphones__sink"
Environment="LOG_LEVEL=INFO"
Environment="GPIO_PIN=17"

[Install]
WantedBy=default.target